* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #2C2525;
    color: #FFF8F9;
    font-family: "Montserrat", sans-serif;
}


header {
    padding: 2% 0 0 15%;

}

.header__nav {
    display: flex;
    gap: 80px;
}

.header__nav__link {
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fd6883;
}

strong {
    color: #fd6883;
}

#presentation {
    padding: 6% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#presentation__content {
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#presentation__content h1 {
    font-size: 36px;
    font-family: "Krona One", sans-serif;
}

#presentation__content p {
    font-size: 24px;
}

#presentation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentation__links__card {
    border: 2px solid #fd6883;
    width: 378px;
    text-align: center;
    border-radius: 8px;
    padding: 16px;

    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.presentation__links__card:hover {
    cursor: pointer;
    background-color: #191515;
}

.presentation__links__card a {
    color: #FFF8F9;
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
}

#presentation__links__subtitle {
    font-family: "Krona One", sans-serif;
    font-size: 24px;
    font-weight: 400;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: #fd6883;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    font-weight: 400;
}