:root {
    --primary-color: #fd6883;
    --foreground: #FFF8F9;
    --background: #2C2525;
    --hover-color: #211c1c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background);
    color: var(--foreground);
    font-family: "Montserrat", sans-serif;
}


header {
    padding: 2% 0 0 15%;

}

.header__nav {
    display: flex;
    gap: 80px;
}

.header__nav__link {
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--primary-color);
}

strong {
    color: var(--primary-color);
}

#presentation {
    padding: 6% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 82px;
}

#presentation__content {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

#presentation__content h1 {
    font-size: 2.25rem;
    font-family: "Krona One", sans-serif;
}

#presentation__content p {
    font-size: 1.5rem;
}

#presentation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
}

.presentation__links__card {
    border: 2px solid var(--primary-color);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    padding: 16px;

    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
}

.presentation__links__card:hover {
    cursor: pointer;
    background-color: var(--hover-color);
}

.presentation__links__card a {
    color: var(--foreground);
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
}

#presentation__links__subtitle {
    font-family: "Krona One", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

#presentation__image {
    width: 50%;
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
}

@media (max-width: 1200px) {
    header {
        padding: 10%;
        text-align: center;
    }

    .header__nav {
        justify-content: center;
    }

    #presentation {
        flex-direction: column-reverse;
        padding: 5%;
        width: 100%;
    }

    .presentation__links__card {
        width: 100%;
    }

}